name: Run Tests for bundling against Change

on:
  push:
    branches:
      - '**'

jobs:
  call-validate-bundle:
    uses: forcedotcom/bundle-publish-scripts/.github/workflows/validateBundleForDependents.yml@main
    secrets: inherit